@import './../../variables';

#projects-parent-comp {
    width: 100%;

    h2 {
        font-size: 32px;
        padding: 10px;
        z-index: 1;
        border-bottom: 1px solid $primary-text-color;
        width: 100%;
        text-align: center;
        max-width: 50%;
        min-width: $min-header-width;
        margin-top: 50px;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            z-index: 1;
            text-align: center;
            font-size: 38px;
            padding: 25px;
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 50%;
            min-width: $min-header-width;

            details {
                width: 100%;
                z-index: 1;
                outline: none;
                font-size: 28px;

                p {
                    border: none;
                }
                
                .nsl-embedded {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    justify-items: center;
                    align-content: center;
                    align-items: center;
                }
                
                summary {
                    padding: 10px;
                    text-align: center;
                    outline: none;
                }

                .contain-video {
                    width: 100%;
                    height: 56.25%;
                    height: 0px;
                    padding-bottom: 56.25%;
                    position: relative;
    
                    video {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        height: 100%;
                        width: 100%;
                        margin: 0 0 25px 0;
                        z-index: 1;
                        background-color: #FBFAFB;
                    }
                }
            }

            .links {
                display: flex;
                flex-direction: row;
                width: 100%;
                text-align: center;
                justify-content: center;
                margin: 3px;

                a {
                    z-index: 1;
                    font-size: 20px;
                    white-space: nowrap;
                    margin-top: 25px;
                    margin-bottom: 3px;
                }

                p {
                    width: 10px;
                    border: none;
                    margin-top: 25px;
                    margin-bottom: 3px;
                    user-select: text;
                }
            }
            
            iframe {
                z-index: 1;
                height: 360px;
                width: 640px;
                max-width: 50%;
                min-width: $min-header-width;
                overflow-y: scroll;
            }
            
            p {
                z-index: 1;
                width: 100%;
                font-size: 20px;
                // margin: 3px;
                border-bottom: 1px solid $primary-text-color;
                padding-bottom: 25px;
                user-select: text;
            }

            .not-ending-article-p-tag {
                border: none;
                padding-bottom: 10px;
            }
        }
    }
}