@import './../../variables';
#projects-parent-comp {
    width: 100%;

    .projects {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            padding: 25px 0 15px 0;
            border-bottom: 1px solid $primary-text-color;
            z-index: 1;
            text-align: center;
            width: 100%;
            min-width: 220px;
            max-width: 621px;
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                padding: 15px 0 5px 0;
                z-index: 1;
                text-align: center;
                width: 100%;
                overflow: hidden;
            }
            details {
                z-index: 1;
                width: 100%;
                min-width: 220px;
                max-width: 621px;
                margin: 5px;

                summary {
                    outline: none;
                    width: 100%;
                    min-width: 220px;
                    max-width: 621px;
                    text-align: center;
                }
                p {
                    padding: 10px 0;
                }
                div {
                    padding: 10px 0;
                    iframe {
                        width: 100%;
                        min-width: 220px;
                        max-width: 621px;
                        height: 360px;
                    }
                }
                .contain-video {
                    width: 100%;
                    height: 56.25%;
                    height: 0px;
                    padding-bottom: 56.25%;
                    position: relative;
                    min-width: 220px;
                    max-width: 621px;
                    margin: 0 0 20px 0;
                    
                    video {
                        position: absolute;
                        top: 10px;
                        left: 0px;
                        height: 100%;
                        width: 100%;
                        z-index: 1;
                        background-color: #FBFAFB;
                    }
                }
            }
            .embedded-website {
                display: none;
            }
            .links {
                min-width: 220px;
                max-width: 621px;
                display: flex;
                a {
                    z-index: 1;
                    text-align: center;
                    white-space: nowrap;
                    margin: 5px;
                }
                p {
                    text-align: center;
                    min-width: 0px;
                    max-width: 5px;
                    margin: 5px;
                    border: none;
                    padding: 0;
                }
            }
            p {
                width: 100%;
                min-width: 220px;
                max-width: 621px;
                border-bottom: 1px solid $primary-text-color;
                padding-bottom: 10px;
                z-index: 1;
            }
            .not-ending-article-p-tag {
                border: none;
            }
        }
    }
}

@media (min-width: 220px) and (max-width:480px) {
    #projects-parent-comp {
        .projects {
            article {
                .links {
                    display: flex;
                    flex-direction: column;
                    font-size: 15px;

                    p {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 220px) and (max-width: 425px) {
    #projects-parent-comp {
        .projects {
            h2 {
                font-size: 28px;
            }
            article {
                width: 99%;
                h1 {
                    font-size: 30px;
                }
                details {
                    summary {
                        font-size: 20px;
                    }
                }
                .links {
                    a {
                        font-size: 16px;
                    }
                }
                p {
                    font-size: 18px;
                }
                .not-ending-article-p-tag {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (min-width: 426px) and (max-width: 620px) {
    #projects-parent-comp {
        .projects {
            h2 {
                font-size: 30px;
            }
            article {
                h1 {
                    font-size: 32px;
                }
                details {
                    summary {
                        font-size: 22px;
                    }
                }
                .links {
                    a {
                        font-size: 18px;
                    }
                }
                p {
                    font-size: 20px;
                }
                .not-ending-article-p-tag {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (min-width: 621px) {
    #projects-parent-comp {
        .projects {
            h2 {
                font-size: 30px;
            }
            article {
                h1 {
                    font-size: 32px;
                }
                details {
                    summary {
                        font-size: 22px;
                    }
                }
                .links {
                    a {
                        font-size: 18px;
                    }
                }
                p {
                    font-size: 20px;
                }
                .not-ending-article-p-tag {
                    font-size: 20px;
                }
                .embedded-website {
                    display: initial;
                }
            }
        }
    }
}