@import './../../variables';

#projects-parent-comp {
    width: 100%;

    h2 {
        font-size: 32px;
        padding: 10px;
        z-index: 1;
        padding-bottom: 10px;
        border-bottom: 1px solid $primary-text-color;
        width: 100%;
        text-align: center;
        max-width: 50%;
        min-width: $min-header-width;
    }

    .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            z-index: 1;
            text-align: center;
            font-size: 38px;
            padding: 25px;
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 50%;
            min-width: $min-header-width;
            
            .contain-video {
                width: 100%;
                height: 56.25%;
                height: 0px;
                padding-bottom: 56.25%;
                position: relative;

                video {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 100%;
                    width: 100%;
                    margin: 0 0 25px 0;
                    z-index: 1;
                    background-color: $primary-text-color;
                }
            }
            
            a {
                z-index: 1;
                width: 100%;
                font-size: 20px;
                margin: 3px;
            }

            p {
                z-index: 1;
                width: 100%;
                font-size: 20px;
                margin: 3px;
            }
        }
    }
}
@media (min-height: 1220px) {
    #projects-parent-comp {
        #foot-parent-comp {
            position: absolute;
            bottom: 10px;
        }
    }
}