@import './../../variables';

@media (min-width: 220px) and (max-width: 314px) {
    #blank-parent-comp {
        .notify-not-mistake {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
    
            h1 {
                font-size: 14px;
                animation-name: fade-in;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                animation-duration: 5s;
            }
    
            .none {
                display: none;
            }
    
            button {
                position: fixed;
                padding: 5px;
                z-index: 1;
                border-radius: 5px;
            }
            
            .home-button {
                bottom: 40px;
                right: 5px;
            }
            
            .hide-button {
                bottom: 5px;
                right: 5px;
            }
        }
    }
}

@media (min-width: 315px) {
    #blank-parent-comp {
        .notify-not-mistake {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
    
            h1 {
                font-size: 20px;
                animation-name: fade-in;
                animation-iteration-count: 1;
                animation-timing-function: linear;
                animation-duration: 5s;
            }
    
            .none {
                display: none;
            }
    
            button {
                position: fixed;
                padding: 5px;
                z-index: 1;
                border-radius: 5px;
            }
            
            .home-button {
                bottom: 40px;
                right: 5px;
            }
            
            .hide-button {
                bottom: 5px;
                right: 5px;
            }
        }
    }
}

@keyframes fade-in {
    0% {opacity: 0;}
    20% {opacity: 1;}
}