@import './../../variables';

#home-parent-comp {
    width: 100%;
    min-width: $min-header-width;
    background: inherit;
    
    .home-header-parent {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url('./../../resources/Stars.png');
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        padding: 250px;
        min-width: $min-header-width;
        
        section {
            z-index: 2;
            min-width: $min-header-width;
            div {
                border: 1px solid $primary-text-color;
                padding: 60px 120px;
                text-align: center;

                h1 {
                    font-size: 36px;
                    font-weight: 500;
                }
                h2 {
                    font-size: 30px;
                }
            }
        }
    }

    .secret-blank-page {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 5px;
        height: 5px;
        z-index: 2;
    }
}
@media (min-height: 650px) {
    #home-parent-comp {
        height: 75vh;

        #foot-parent-comp {
            position: absolute;
            bottom: 10px;
        }
    }
}
@media (min-height: 700px) {
    #home-parent-comp {
        height: 78vh;
    }
}
@media (min-height: 750px) {
    #home-parent-comp {
        height: 80.5vh;
    }
}
@media (min-height: 850px) {
    #home-parent-comp {
        height: 82vh;
    }
}
@media (min-height: 925px) {
    #home-parent-comp {
        height: 84vh;
    }
}
@media (min-height: 1050px) {
    #home-parent-comp {
        height: 85vh;
    }
}
@media (min-height: 1250px) {
    #home-parent-comp {
        height: 87vh;
    }
}
@media (min-height: 1500px) {
    #home-parent-comp {
        height: 88vh;
    }
}