@import './../../variables';

// #nav-parent-comp {
//     background: $primary-header-color;
//     width: 100%;
//     height: 90px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index: 1;
//     // min-width: $min-header-width;

    
//     div {
//         width: 50%;
//         // min-width: $min-header-width;
//         display: flex;
//         flex-direction: row;


//         ul {
//             display: flex;
//             flex-direction: row;
//             width: 100%;
            
//             li {
//                 display: flex;
//                 a {
//                     padding: 15px;
//                     text-decoration: none;
//                     white-space: nowrap;
//                 }
//             }
//             li:hover {
//                 background: rgba(16, 68, 120, 0.6);
//             }
//             .selected, .selected:hover {
//                 background: rgba(16, 68, 120, 1.0);
//             }
//         }
    
//         h1 {
//             padding: 15px;
//             white-space: nowrap;
//             margin-left: auto;
//         }
//     }

//     .nav-menu {
//         display: none;
//     }

//     ol {
//         display: none;
//     }

//     .none {
//         display: none !important;
//     }
// }

@media (min-width: 220px) and (max-width: 620px){
    #nav-parent-comp {
        background: $primary-header-color;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        .large-navigation {
            display: none;
        }
        div {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            ul {
                display: none;
            }
            h1 {
                display: none;
            }

            ol {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                height: 100%;
                
                li {
                    height: 100%;
                    display: flex;
                    flex: 0 0 auto;
                    a {
                        height: 10px;
                        padding: 25px 20px;
                        text-decoration: none;
                    }
                }
                li:hover {
                    background: rgba(16, 68, 120, 0.6);
                }
                .selected, .selected:hover {
                    background: rgba(16, 68, 120, 1.0);
                }
            }
        }
    }
}

@media (min-width: 621px) {
    #nav-parent-comp {
        background: $primary-header-color;
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;

        div {
            min-width: 621px;
            max-width: 50%;
            display: flex;
            flex-direction: row;
    
    
            ul {
                display: flex;
                flex-direction: row;
                width: 100%;
                
                li {
                    display: flex;
                    a {
                        padding: 15px;
                        text-decoration: none;
                        white-space: nowrap;
                    }
                }
                li:hover {
                    background: rgba(16, 68, 120, 0.6);
                }
                .selected, .selected:hover {
                    background: rgba(16, 68, 120, 1.0);
                }
            }
        
            h1 {
                padding: 15px;
                white-space: nowrap;
                margin-left: auto;
            }
        }
    
        ol {
            display: none;
        }
    }
}