@import './../../variables';

#nav-parent-comp {
    background: $primary-header-color;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    min-width: $min-header-width;

    
    div {
        width: 50%;
        min-width: $min-header-width;
        display: flex;
        flex-direction: row;


        ul {
            display: flex;
            flex-direction: row;
            li {
                display: flex;
                a {
                padding: 15px;
                text-decoration: none;
                }
            }
            li:hover {
                background: rgba(16, 68, 120, 0.6);
            }
            .selected, .selected:hover {
                background: rgba(16, 68, 120, 1.0);
            }
        }
    
        h1 {
            padding: 15px;
            margin-left: auto;
        }
    }

    .nav-menu {
        display: none;
    }
    .overlay-selector {
        display: none;
    }
}

@media (max-width: 320px) {
    #nav-parent-comp {
        min-width: 0px;
        height: 60px;
        div {
            min-width: 0px;
            ul {
                display: none;
            }
            
            h1 {
                display: none;
            }
        }

        .nav-menu {
            display: initial;
            position: absolute;
            width: 37px;
            height: 22px;
            right: 18px;
    
            .bar {
                background: $primary-text-color;
                width: 35px;
                height: 6px;
                border-radius: 5px;
                margin: 1px;
            }
        }

        .overlay-selector {
            top: 0px;
            right: 0px;
            display: flex;
            position: fixed;
            width: 100%;
            height: 100%;
            flex-direction: column;
            justify-content: center;
            background: rgba(0,0,0,1);
            
            ol {
                display: flex;
                flex-direction: column;
                align-items: center;
                
                li {
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }

}