@import './../../variables';

#foot-parent-comp {
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: $min-header-width;
    
    div {
        width: 50%;
        min-width: $min-header-width;
        align-items: center;
        flex-direction: row;
        display: flex;
        
        p {
            margin-right: auto;
            z-index: 1;
        }
        
        img {
            width: 50px;
            padding: 0 10px;
            z-index: 1;
        }
    }
}

@media (max-width: 320px) {
    #foot-parent-comp {
        min-width: 0px;
        div {
            min-width: 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;

            
            p {
                font-size: 12px;
                margin-right: 0;
            }
            
            img {
            }
        }
    }
}