@import './../../variables';

#foot-parent-comp {
    height: 50px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
    
    div {
        width: 50%;
        min-width: 578px;
        align-items: center;
        flex-direction: row;
        display: flex;
        
        p {
            margin-right: auto;
        }
    
        img {
            width: 50px;
            padding: 0 10px;
        }
    }
}