@import './../../variables';

#contact-me-parent-comp {
    width: 100%;
    .contact-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: calc(100vh - 110px);
        .contact-header {
            padding: 15px 0;
            z-index: 1;
        }
        section {
            border-bottom: 1px solid $primary-text-color;
            margin-bottom: 25px;
            a {
                z-index: 1;
                img {
                    margin: 15px 0;
                    width: 50px;
                    padding: 0 10px;
                }
            }
            h1 {
                padding: 3px 0;
                z-index: 1;
                user-select: text;
            }
        }
        form {
            display: grid;
            // grid-template-columns: 200px 100px 100px;
            grid-template-rows: 30px 30px 30px;
            grid-gap: 5px;
            grid-template-areas:
                "email message message"
                "name message message"
                "- - button";
            input {
                z-index: 1;
                font-size: 12px;
                opacity: 0.8;
                padding: 0 5px;
            }
            .email-input {
                grid-area: email;
            }
            .name-input {
                grid-area: name;
            }
            .message-input {
                grid-area: message;
                z-index: 1;
                padding: 5px;
                resize: none;
                opacity: 0.8;
            }
            button {
                grid-area: button;
                z-index: 1;
                background: #222;
                color: inherit;
                outline: none;
                opacity: .8;
                padding: 5px;
            }
            button:hover {
                opacity: 1;
            }

            input:hover, .message-input:hover, input:focus, .message-input:focus {
                opacity: 1;
            }
            .pass {
                animation-name: 'pass';
                animation-timing-function: linear;
                animation-duration: 0.5s;
                animation-iteration-count: 1;
            }
            .fail {
                animation-name: 'fail';
                animation-timing-function: linear;
                animation-duration: 0.5s;
                animation-iteration-count: 1;
            }
        }
    }
}

@media (min-width: 220px) and (max-width: 320px) {
    #contact-me-parent-comp {
        .contact-me {
            section {
                h1 {
                    font-size: 15px;
                }
            }
            form {
                grid-template-columns: 200px;
                grid-template-rows: 30px 30px 100px 30px;
                grid-gap: 5px;
                grid-template-areas:
                    "email"
                    "name"
                    "message"
                    "button";
            }
        }
    }
}

@media (min-width: 621px) {
    #contact-me-parent-comp {
        .contact-me {
            min-height: calc(100vh - 140px);
        }
    }
}

@keyframes pass {
    0% {background-color: inherit;}
    50% {background-color: darkgreen;}
    100% {background-color: inherit;}
}

@keyframes fail {
    0% {background-color: inherit;}
    50% {background-color: darkred;}
    100% {background-color: inherit;}
}