@import './../../variables';

#contact-me-parent-comp {
    width: 100%;

    .contact-me {
        min-height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .contact-header {
            padding: 15px;
            z-index: 1;
        }

        section {
            border-bottom: 1px solid $primary-text-color;
            max-width: 50%;
            min-width: $min-header-width;
            margin-bottom: 25px;

            a {
                z-index: 1;

                img {
                    margin: 15px 0;
                    width: 50px;
                    padding: 0 10px;
                }
            }
            h1 {
                padding: 3px;
                z-index: 1;
                user-select: text;
            }
        }

        form {
            display: grid;
            grid-template-columns: 200px 100px 100px;
            grid-template-rows: 30px 30px 30px;
            grid-gap: 5px;
            grid-template-areas:
                "email message message"
                "name message message"
                "- - button";

            input {
                z-index: 1;
                font-size: 12px;
                opacity: 0.8;
                padding: 0 5px;
            }

            .email-input {
                grid-area: email;
            }

            .name-input {
                grid-area: name;
            }

            .message-input {
                grid-area: message;
                z-index: 1;
                padding: 5px;
                resize: none;
                opacity: 0.8;
            }

            button {
                grid-area: button;
                z-index: 1;
                background: #222;
                color: inherit;
                outline: none;
                opacity: .8;
            }

            button:hover {
                opacity: 1;
            }

            input:hover, .message-input:hover, input:focus, .message-input:focus {
                opacity: 1;
            }

            .pass {
                animation-name: 'pass';
                animation-timing-function: linear;
                animation-duration: 0.5s;
                animation-iteration-count: 1;
            }

            .fail {
                animation-name: 'fail';
                animation-timing-function: linear;
                animation-duration: 0.5s;
                animation-iteration-count: 1;
            }
        }
    }
}

@keyframes pass {
    0% {background-color: inherit;}
    50% {background-color: darkgreen;}
    100% {background-color: inherit;}
}

@keyframes fail {
    0% {background-color: inherit;}
    50% {background-color: darkred;}
    100% {background-color: inherit;}
}

@media (max-height: 629px) {
    #contact-me-parent-comp {
        height: 550px;
    }
}

@media (min-height: 450px) {
    #contact-me-parent-comp {
        #foot-parent-comp {
            position: absolute;
            bottom: 10px;
        }
    }
}