@import './variables';

.App {
    color: $primary-text-color;
    background: rgb(23,18,111);
    background: linear-gradient(200deg, rgba(4,21,37,1) 0%, rgba(1,0,11,1) 100%);
    min-height: 100vh;
    min-width: $min-header-width;

    a {
        color: inherit;
    }
}