@import './../../variables';

#about-me-parent-comp {
    width: 100%;
    min-width: $min-header-width;
    
    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-width: $min-header-width;
        min-height: 500px;

        section {
            max-width: 50%;
            min-width: $min-header-width;
            position: absolute;
            
            h1 {
                font-size: 36px;
                padding: 10px;
                z-index: 1;
                min-width: $min-header-width;
            }
    
            p {
                border-top: 1px solid $primary-text-color;
                font-size: 23px;
                padding: 10px;
                z-index: 1;
                min-width: $min-header-width;
            }
        }
    }
}
@media (max-height: 629px) {
    #about-me-parent-comp {
        height: 510px;
    }
}

@media (min-height: 450px) {
    #about-me-parent-comp {
        #foot-parent-comp {
            position: absolute;
            bottom: 10px;
        }
    }
}